In [1]:
import findspark
findspark.init()
findspark.find()

'C:\\spark3'

In [2]:
import pyspark
from pyspark.sql import SparkSession

In [3]:
spark=SparkSession.builder.appName("data frame basic").getOrCreate()

In [4]:
df_pyspark=spark.read.json("people.json")

In [5]:
df_pyspark.show()

+----+-------+
| age|   name|
+----+-------+
|null|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+

In [6]:
df_pyspark.printSchema()

root
 |-- age: long (nullable = true)
 |-- name: string (nullable = true)

In [7]:
df_pyspark.columns

['age', 'name']

In [8]:
df_pyspark.describe().show()

+-------+------------------+-------+
|summary|               age|   name|
+-------+------------------+-------+
|  count|                 2|      3|
|   mean|              24.5|   null|
| stddev|7.7781745930520225|   null|
|    min|                19|   Andy|
|    max|                30|Michael|
+-------+------------------+-------+

In [9]:
#if the data is bad has to define schema
from pyspark.sql.types import(StructField,StringType,
IntegerType,StructType)

In [10]:
#list of structure field
data_schema=[StructField('age',IntegerType(),True),StructField('name',StringType(),True)]

In [11]:
final_stru=StructType(fields=data_schema)

In [12]:
df_pyspark=spark.read.json("people.json",schema=final_stru)

In [13]:
df_pyspark.printSchema()

root
 |-- age: integer (nullable = true)
 |-- name: string (nullable = true)

In [14]:
df_pyspark.show()

+----+-------+
| age|   name|
+----+-------+
|null|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+

In [15]:
df_pyspark.select(['age','name']).show()

+----+-------+
| age|   name|
+----+-------+
|null|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+

In [16]:
#creating new column
df_pyspark.withColumn('double_age',df_pyspark['age']*2).show()

+----+-------+----------+
| age|   name|double_age|
+----+-------+----------+
|null|Michael|      null|
|  30|   Andy|        60|
|  19| Justin|        38|
+----+-------+----------+

In [17]:
#rename colum
df_pyspark.withColumnRenamed('age','mynewage').show()

+--------+-------+
|mynewage|   name|
+--------+-------+
|    null|Michael|
|      30|   Andy|
|      19| Justin|
+--------+-------+

In [19]:
df_pyspark.createOrReplaceTempView('people')

In [21]:
result =spark.sql("SELECT * FROM people")

In [22]:
result.show()

+----+-------+
| age|   name|
+----+-------+
|null|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+

In [23]:
newresults= spark.sql("SELECT * FROM people WHERE age =30")

In [25]:
newresults.show()

+---+----+
|age|name|
+---+----+
| 30|Andy|
+---+----+