In [2]:
from pyspark.sql import SparkSession

In [3]:
spark = SparkSession.builder.appName("missing-data").getOrCreate()

In [4]:
df = spark.read.csv("ContainsNull.csv", header = True,inferSchema=True)

In [7]:
#drop all the null values
# df.na.drop().show()

#threshold=2 meaning 2 value must be not nulld
df.na.drop(thresh=2).show()

+----+-----+-----+
|  Id| Name|Sales|
+----+-----+-----+
|emp1| John| null|
|emp3| null|345.0|
|emp4|Cindy|456.0|
+----+-----+-----+