In [2]:
from pyspark.sql import SparkSession

In [3]:
spark = SparkSession.builder.appName("missing-data").getOrCreate()

In [4]:
df = spark.read.csv("ContainsNull.csv", header = True,inferSchema=True)

In [6]:
#drop all the null values
# df.na.drop().show()

#threshold=2 meaning 2 value must be not nulld
#df.na.drop(thresh=2).show()

# how='any' drops all the row having null 
#how ='all' drops all the row having all value null
df.na.drop(how='all').show()

+----+-----+-----+
|  Id| Name|Sales|
+----+-----+-----+
|emp1| John| null|
|emp2| null| null|
|emp3| null|345.0|
|emp4|Cindy|456.0|
+----+-----+-----+

In [7]:
#subest drop null for particular columns
df.na.drop(subset=['sales']).show()

+----+-----+-----+
|  Id| Name|Sales|
+----+-----+-----+
|emp3| null|345.0|
|emp4|Cindy|456.0|
+----+-----+-----+

In [10]:
#filling missing value
# if string is passed it fills all the string data type only
# if integer is passed it fills all the integer data type only
#df.na.fill(0).show()

#filling particular colum with subset
#always use subset to fill column
df.na.fill('no name',subset='Name').show()

+----+-------+-----+
|  Id|   Name|Sales|
+----+-------+-----+
|emp1|   John| null|
|emp2|no name| null|
|emp3|no name|345.0|
|emp4|  Cindy|456.0|
+----+-------+-----+

In [11]:
from pyspark.sql.functions import mean

In [12]:
df.na.fill(df.select(mean(df['Sales'])).collect()[0][0],['Sales']).show()

+----+-----+-----+
|  Id| Name|Sales|
+----+-----+-----+
|emp1| John|400.5|
|emp2| null|400.5|
|emp3| null|345.0|
|emp4|Cindy|456.0|
+----+-----+-----+