In [2]:
#importing, initializing and finding spark location with findspark
import findspark
findspark.init()
findspark.find()

'C:\\spark3'

In [3]:
#importing pyspark and importing spark session from spark sql
import pyspark
from pyspark.sql import SparkSession

In [4]:
#initializing spark session and giving app name for the session
spark=SparkSession.builder.appName('hello world').getOrCreate()

In [37]:
#reading csv file with pyspark
df_pyspark=spark.read.csv('../test.csv',header=True,inferSchema='true')

In [7]:
df_pyspark.printSchema()
#dataframe type
type(df_pyspark)

pyspark.sql.dataframe.DataFrame

In [8]:
#showing columns of data frame
df_pyspark.columns

['name', 'age']

In [9]:
#finding top 3 data
df_pyspark.head(3)

[Row(name='anish', age=12),
 Row(name='fadsfa', age=32),
 Row(name='fsadfsa', age=43)]

In [11]:
#selecting column manually
df_pyspark.select(['Name','age']).show()

+--------+---+
|    Name|age|
+--------+---+
|   anish| 12|
|  fadsfa| 32|
| fsadfsa| 43|
|fadfgghs| 54|
+--------+---+

In [13]:
#checking data types
df_pyspark.dtypes

[('name', 'string'), ('age', 'int')]

In [14]:
df_pyspark.describe().show()

+-------+-------+------------------+
|summary|   name|               age|
+-------+-------+------------------+
|  count|      4|                 4|
|   mean|   null|             35.25|
| stddev|   null|17.914147109663542|
|    min|  anish|                12|
|    max|fsadfsa|                54|
+-------+-------+------------------+

In [32]:
##adding columns in data frame
df_pyspark=df_pyspark.withColumn('Experience after 2 years',df_pyspark['age']+10)

In [38]:
df_pyspark.show()

+--------+----+----------+------+
|    name| age|experience|salary|
+--------+----+----------+------+
|   anish|  12|        10| 90000|
|  fadsfa|  32|        20| 80000|
| fsadfsa|  43|        30| 70000|
|fadfgghs|  54|        15| 60000|
|     ram|  16|         4| 50000|
|   shyam|null|      null| 40000|
|    null|  34|        10|  6000|
|    null|  36|      null|543533|
+--------+----+----------+------+

In [34]:
##Drop the columns
df_pyspark=df_pyspark.drop('Experience after 2 years')

In [35]:
df_pyspark.show()

+--------+---+
|    name|age|
+--------+---+
|   anish| 12|
|  fadsfa| 32|
| fsadfsa| 43|
|fadfgghs| 54|
+--------+---+

In [36]:
##rename the colum
df_pyspark=df_pyspark.withColumnRenamed('Name','New Name').show()

+--------+---+
|New Name|age|
+--------+---+
|   anish| 12|
|  fadsfa| 32|
| fsadfsa| 43|
|fadfgghs| 54|
+--------+---+